<div class="container">
  <div class="notice">
      <h2><%= @query %></h2>
      <p>- You</p>
  </div>
</div>
<div class="container">
  <div class="notice">
      <h2><%= @answer %></h2>
      <p>- Coach</p>
  </div>
</div>

<div class="container">
  <%= link_to "Ask a new question", ask_path %>
</div>
