<div class="container">
<h2>Speak to your coach</h2>
</div>>
<div class="container">
<form action="/answer" method="get">
  <input type="text" class="form-control" name="query">
</div>
<div class="container">
  <input type="submit" value="Go on" class="btn btn-primary">
</form>
</div>
</div>
